header, footer,nav{
	background-color: #220235 !important; 
}
.logo{
	width: 65px;
	margin-left: 40px;
	
}

.li-menu{
	display: inline-block;
	color: #fff;
	margin-right:3%;
}

.art{
	border-top: 2px solid;
    display: block;
    max-width: 68px;
    margin: 0 auto 15px;
    color: #F3C004;
}

.date{
	text-align: center;
	color:#999!important;
	font-style: italic;
}

.alinear{
	text-align: justify;
}

.mr{
	width: 20px;
	height: 20px;
}

.margen48{
	margin-left: 38%;
	padding-top:2.5%;
}


a{
	list-style: none;
	text-decoration: none !important;
}

a:visited{
	color:#fff;
}

li,h5{
	font-family: 'Open Sans', sans-serif;
}

.bg-morado{
	background-color: #2E0159; 	
}

.bg-purpura{
	background-color: #220235;
}

.bg-flores{
 	width: 100%;
 	margin-top: 2%;
 	margin-bottom: 2%;
 	background-image: url("../image/header-image.jpg");
	background-size: 100% 400px;
 	background-repeat: no-repeat;
}

.bg_header{
	width: 60%;
	height: 400px;
 	margin-top: 3% !important; 
 	background-image: url("../image/bg_header.jpg");
	background-size: 100% 400px;
 	background-repeat: no-repeat;
 	display: block;
 	margin: auto;
}

h1{
	font-size: 5em;
	padding-top: 15%;
	text-align: center;
}

h2,h1,h4{
	font-family: 'Courgette', cursive;
	color: #F3C004;
}

.ul-banner{
	margin-top: 5%;
	padding-bottom: 10%;
	text-align: center;
}

.text-image{		Contenedor de texto e imagen section 2
	width: 100%;
}

h4{
	padding-top: 2%;
}

.p-i, h4{
	font-weight: bold;
}

h5{
	padding-bottom:6%; 
}

.p-i, h5, .li-menu{
	font-style: italic;
}

.blacktext{
	color:#000;
	line-height: 35px;
	font-style: italic;
	text-align: justify;
	font-size: 18px;
}

h6,h5,p{
	color:#fff;
}

.margin{
	margin-left: 7%;
	margin-right: 2%; 
}

.pb-2{
	padding-bottom: 2%;
}

.mt-2{
	margin-top: 2%;
	margin-bottom: 2%;
}

iframe{
	width: 100%;
}

form{		
	width: 100%;
	margin: auto;
	padding: 5% 5%;
}

input{	
	background-color: #000;	
 	width: 100%;
 	padding: 2% 8%;
 	font-size: 1.5em;
 	opacity: .5;
 	border:0px;
 	
 }

*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: #fff;
}

.icono{
	display: inline-block;
	border-radius: 100%;
	width: 5%;
	margin:2% 1%;
}

.ml-10{
	margin-left: 10%;
	/* margin-bottom: 2%; */
}

.pd{
	padding: 2% 2%;
}

span{
	color: gray;
}

html { 
	overflow-x:hidden; 
}

.chapter{
	font-family: 'Courgette', cursive;
	font-size: 150%;
	font-weight: bold;
	text-align: left;
}

#chapter1{
	color: #220235;
}

#chapter2{
	color: #583c69;
}

#diario{
	font-size: 18px;
	font-style: italic;
}