
/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {
.logo{
	width: 50%;
}

#div-banner{
	width: 100%;
	display: block;
	margin: 12% auto;
}

.ul-banner{
	font-size: .8em;
	text-align: left;
}

.bg-flores{
 	width: 100%;
 	padding: 5% 5%;
 	margin:5% 0%;
}

}


